.App {
  text-align: center;
}

.add-smurf-form {
  margin: 15px;
  padding: 15px;
}

.add-smurf-form input {
  margin: 5px;
}

.add-smurf-form button {
  border-radius: 50%;
  border: none;
  height: 35px;
  width: 35px;
  background: salmon;
  color: #FAFAFA;
  font-size: 25px;
  display: block;
  margin: 15px auto;
}

.smurf-list button {
  background: none;
  border: 1px solid rgb(108, 108, 255);
  padding: 5px 15px;
  border-radius: 3px;
  color: rgb(108, 108, 255);
}

ul, li {
  list-style-type: none;
}
